<?xml version="1.0" encoding="UTF-8"?>


 <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.0.252:1521:orcl</property>
		<property name="hibernate.connection.username">SME_DEV_V24</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.show_sql">true</property>
<!--         <property name="hibernate.hbm2ddl.auto">update</property>  -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
       <mapping class="com.prajyot.entity.EmployeeEntity" />
       <mapping class="com.prajyot.entity.AdminEntity" />
       <mapping class="com.prajyot.entity.EmployeeTaskEntity" />
       <mapping class="com.prajyot.entity.UploadFilesEntity" />
	</session-factory>
</hibernate-configuration>